<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="robots" content="all,follow"/>
    <title></title>
    <link rel="shortcut icon" href="img/favicon.ico"/>
    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/font-icon-style.css"/>
    <link rel="stylesheet" href="../css/style.default.css" id="theme-stylesheet"/>
    <!-- Core stylesheets -->
    <link rel="stylesheet" href="../css/form.css"/>
    <link rel="stylesheet" href="../css/card.css"/>

    <style>
        .el-table .warning-row {
            background: oldlace;
        }

        .el-table .success-row {
            background: #f0f9eb;
        }
    </style>


</head>
<body>
<!--====================================================
                   MAIN NAVBAR
======================================================-->
<header class="header">
    <nav class="navbar navbar-expand-lg ">
        <div class="search-box">
            <button class="dismiss"><i class="icon-close"></i></button>
            <form id="searchForm" action="#" role="search">
                <input type="search" placeholder="Search Now" class="form-control"/>
            </form>
        </div>
        <div class="container-fluid ">
            <div class="navbar-holder d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <a href="cover" class="navbar-brand">
                        <div class="brand-text brand-big hidden-lg-down">
                            <img src="../img/logo-white.png" alt="Logo" class="img-fluid"/>
                        </div>
                        <div class="brand-text brand-small">
                            <img src="../img/logo-icon.png" alt="Logo" class="img-fluid"/>
                        </div>
                    </a>
                    <a id="toggle-btn" href="#" class="menu-btn active"> <span></span> <span></span> <span></span> </a>
                </div>
            </div>
            <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                <!-- Expand-->
                <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img
                        src="../img/expand.png" onclick="toggleFullScreen(document.body)" class="img-fluid" alt=""/></a>
                </li>
                <!-- Search-->
                <li class="nav-item d-flex align-items-center"><a id="search" class="nav-link" href="#"><i
                        class="icon-search"></i></a></li>
                <!-- Notifications-->
                <li class="nav-item dropdown"><a id="notifications" class="nav-link" rel="nofollow" data-target="#"
                                                 href="#" data-toggle="dropdown" aria-haspopup="true"
                                                 aria-expanded="false"><i class="fa fa-bell-o"></i><span
                        class="noti-numb-bg"></span><span class="badge">12</span></a>
                    <ul aria-labelledby="notifications" class="dropdown-menu">
                        <li><a rel="nofollow" href="#" class="dropdown-item nav-link">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-envelope bg-red"></i>You have 6 new messages
                                </div>
                                <div class="notification-time">
                                    <small>4 minutes ago</small>
                                </div>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="#" class="dropdown-item nav-link">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-twitter bg-skyblue"></i>You have 2 followers
                                </div>
                                <div class="notification-time">
                                    <small>4 minutes ago</small>
                                </div>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="#" class="dropdown-item nav-link">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-upload bg-blue"></i>Server Rebooted
                                </div>
                                <div class="notification-time">
                                    <small>4 minutes ago</small>
                                </div>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="#" class="dropdown-item nav-link">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-twitter bg-skyblue"></i>You have 2 followers
                                </div>
                                <div class="notification-time">
                                    <small>10 minutes ago</small>
                                </div>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>view
                            all notifications </strong></a></li>
                    </ul>
                </li>
                <!-- Messages                        -->
                <li class="nav-item dropdown"><a id="messages" class="nav-link logout" rel="nofollow" data-target="#"
                                                 href="#" data-toggle="dropdown" aria-haspopup="true"
                                                 aria-expanded="false"><i class="fa fa-envelope-o"></i><span
                        class="noti-numb-bg"></span><span class="badge">10</span></a>
                    <ul aria-labelledby="messages" class="dropdown-menu">
                        <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                            <div class="msg-profile">
                                <img src="../img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"/>
                            </div>
                            <div class="msg-body">
                                <h3 class="h5 msg-nav-h3">Jason Doe</h3>
                                <span>Sent You Message</span>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                            <div class="msg-profile">
                                <img src="../img/avatar-2.jpg" alt="..." class="img-fluid rounded-circle"/>
                            </div>
                            <div class="msg-body">
                                <h3 class="h5 msg-nav-h3">Frank Williams</h3>
                                <span>Sent You Message</span>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                            <div class="msg-profile">
                                <img src="../img/avatar-3.jpg" alt="..." class="img-fluid rounded-circle"/>
                            </div>
                            <div class="msg-body">
                                <h3 class="h5 msg-nav-h3">Ashley Wood</h3>
                                <span>Sent You Message</span>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="#" class="dropdown-item all-notifications text-center"> <strong>Read
                            all messages </strong></a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#"
                                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                        src="../img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"
                        style="height: 30px; width: 30px;"/></a>
                    <ul aria-labelledby="profile" class="dropdown-menu profile">
                        <li><a rel="nofollow" href="#" class="dropdown-item d-flex">
                            <div class="msg-profile">
                                <img src="../img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"/>
                            </div>
                            <div class="msg-body">
                                <h3 class="h5">Steena Ben</h3>
                                <span>steenaben@Businessbox.com</span>
                            </div>
                        </a>
                            <hr/>
                        </li>
                        <li><a rel="nofollow" href="profile.html" class="dropdown-item">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-user "></i>My Profile
                                </div>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="profile.html" class="dropdown-item">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-envelope-o"></i>Inbox
                                </div>
                            </div>
                        </a></li>
                        <li><a rel="nofollow" href="profile.html" class="dropdown-item">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-cog"></i>Setting
                                </div>
                            </div>
                        </a>
                            <hr/>
                        </li>
                        <li><a rel="nofollow" href="profile.html" class="dropdown-item">
                            <div class="notification">
                                <div class="notification-content">
                                    <i class="fa fa-power-off"></i>Logout
                                </div>
                            </div>
                        </a></li>
                    </ul>
                </li>
                <li class="nav-item d-flex align-items-center"><a id="menu-toggle-right" class="nav-link" href="#"><i
                        class="fa fa-bars"></i></a></li>
                <nav id="sidebar-wrapper">
                    <div class="sidebar-nav">
                        <div class="tab" role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item "><a class="nav-link active" href="#live" role="tab"
                                                         data-toggle="tab"><i class="fa fa-globe"></i> Live</a></li>
                                <li class="nav-item"><a class="nav-link" href="#trend" role="tab" data-toggle="tab"><i
                                        class="fa fa-rocket"></i> Trending</a></li>
                            </ul>
                            <div class="tab-content tabs">
                                <div role="tabpanel" class="tab-pane fade show active" id="live">
                                    <h3>Connect Live</h3>
                                    <div class="content newsf-list">
                                        <ul class="list-unstyled">
                                            <li class="border border-primary"><a rel="nofollow " href="#"
                                                                                 class=" d-flex">
                                                <div class="news-f-img">
                                                    <img src="../img/avatar-2.jpg" alt="..."
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">New Innovation world</h6>
                                                    <small>Tech soft is great innovation for...</small>
                                                </div>
                                            </a></li>
                                            <li class="border border-success"><a rel="nofollow" href="#"
                                                                                 class=" d-flex">
                                                <div class="news-f-img">
                                                    <img src="../img/avatar-3.jpg" alt="..."
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Modified hand-cart</h6>
                                                    <small>The idea is to incorporate easy...</small>
                                                </div>
                                            </a></li>
                                            <li class="border border-info"><a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img">
                                                    <img src="../img/avatar-4.jpg" alt="..."
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a></li>
                                            <li class="border border-primary"><a rel="nofollow" href="#"
                                                                                 class=" d-flex">
                                                <div class="news-f-img">
                                                    <img src="../img/avatar-1.jpg" alt="..."
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a></li>
                                            <li class="border border-success"><a rel="nofollow" href="#"
                                                                                 class=" d-flex">
                                                <div class="news-f-img">
                                                    <img src="../img/avatar-2.jpg" alt="..."
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a></li>
                                            <li class="border border-info"><a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img">
                                                    <img src="../img/avatar-3.jpg" alt="..."
                                                         class="img-fluid rounded-circle"/>
                                                </div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="trend">
                                    <div class="card card-c2" style="box-shadow: 0 0 0;">
                                        <div class="header">
                                            <h3 class="title">Trending Items</h3>
                                            <p class="category">Last Campaign Performance</p>
                                        </div>
                                        <div class="content">
                                            <canvas class="ct-chart" id="myChart-nav" height="250"></canvas>
                                            <div class="footer">
                                                <div class="legend">
                                                    <i class="fa fa-circle text-info"></i> Open
                                                    <i class="fa fa-circle text-danger"></i> Bounce
                                                    <i class="fa fa-circle text-warning"></i> Unsubscribe
                                                </div>
                                                <hr/>
                                                <div class="stats">
                                                    <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </ul>
        </div>
    </nav>
</header>
<!--====================================================
                  PAGE CONTENT
======================================================-->
<div class="page-content d-flex align-items-stretch">
    <!--***** SIDE NAVBAR *****-->
    <nav class="side-navbar">
        <div class="sidebar-header d-flex align-items-center">
            <div class="avatar">
                <img src="../img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"/>
            </div>
            <div class="title">
                <h1 class="h4">Steena Ben</h1>
            </div>
        </div>
        <hr/>
        <!-- Sidebar Navidation Menus-->

        <ul class="list-unstyled">
            <li><a href="mydemo_war/emptyservlet"><i class="icon-home"></i>主页</a></li>
            <li><a href="#forms" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-building-o"></i>检测功能 </a>
                <ul id="forms" class="collapse list-unstyled">
                    <li><a href="upload">开关识别</a></li>
                    <li><a href="upload_light">彩灯识别</a></li>
                    <li><a href="number_clock">数显表识别</a></li>
                    <li><a href="point_clock">指针仪表识别</a></li>
                </ul>
            </li>
            <li><a href="spell"> <i class="fa fa-map-o"></i>图像拼接 </a></li>
            <li class="active"><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i
                    class="icon-interface-windows"></i>数据库查询 </a>
                <ul id="apps" class="collapse list-unstyled">
                    <li class="active"><a href="check_light">彩灯数据库</a></li>
                    <li><a href="check_switch">开关数据库</a></li>
                    <li><a href="check_number">数显表数据库</a></li>
                    <li><a href="check_point">指针表数据库</a></li>
                </ul>
            </li>
            <li><a href="chart"> <i class="fa fa-bar-chart"></i>Chart </a></li>

            <li><a href="maps.html"> <i class="fa fa-map-o"></i>Maps </a></li>
            <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-file-o"></i>Pages </a>
                <ul id="pages" class="collapse list-unstyled">
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="empty.html">Empty</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li><a href="login.html">Log In</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="search-result.html">Search Result</a></li>
                    <li><a href="404.html">404</a></li>
                </ul>
            </li>
            <li><a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>
            <li><a href="#elements" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-globe"></i>UI Elements
            </a>
                <ul id="elements" class="collapse list-unstyled">
                    <li><a href="ui-buttons.html">Buttons</a></li>
                    <li><a href="ui-cards.html">Cards</a></li>
                    <li><a href="ui-progressbars.html">Progress Bar</a></li>
                    <li><a href="ui-timeline.html">Timeline</a></li>
                </ul>
            </li>
        </ul>


        <span class="heading">Extras</span>
        <ul class="list-unstyled">
            <li><a href="#"> <i class="icon-picture"></i>Demo </a></li>
        </ul>
    </nav>
    <div class="content-inner form-cont">
        <div class="row">
            <div class="col-md-12" id="form">


                <!--***** BASIC FORM *****-->

                <el-form :inline="true" :model="search_" class="demo-form-inline">
                    <el-form-item label="搜索类型">
                        <el-select v-model="search_.type" placeholder="搜索类型">
                            <el-option label="id" value="id"></el-option>
                            <el-option label="class" value="class"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="搜索内容">
                        <el-input v-model="search_.content" placeholder="搜索内容"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="success" @click="clear">清空</el-button>
                    </el-form-item>
                </el-form>

                <el-row>
                    <el-button type="danger" plain @click="deleteIds">批量删除</el-button>
                </el-row>


                <template>
                    <el-table
                            :data="switchs"
                            style="width: 100%"
                            :row-class-name="tableRowClassName"
                            @selection-change="handleSelectionChange">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="id"
                                align="center"
                                label="id">
                        </el-table-column>
                        <el-table-column
                                prop="class_"
                                align="center"
                                label="class">
                        </el-table-column>
                        <el-table-column
                                prop="time"
                                align="center"
                                label="time">
                        </el-table-column>
                        <el-table-column
                                align="center"
                                label="opration">
                            <template slot-scope="scope">
                                <el-row>
                                    <el-button type="danger" @click="deleteOneMes(scope.row.id)">删除</el-button>
                                </el-row>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>

                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 15, 20]"
                        :page-size="5"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totalCount">
                </el-pagination>

            </div>
        </div>
    </div>
</div>
                <!--Global Javascript -->
                <script src="../js/jquery.min.js"></script>
                <script src="../js/popper/popper.min.js"></script>
                <script src="../js/tether.min.js"></script>
                <script src="../js/bootstrap.min.js"></script>
                <script src="../js/jquery.cookie.js"></script>
                <script src="../js/jquery.validate.min.js"></script>
                <script src="../js/chart.min.js"></script>
                <script src="../js/front.js"></script>
                <script src="../js/axios-0.18.0.js" ></script>
                <script src="../js/vue.js"></script>
                <script src="../element-ui/lib/index.js"></script>
                <link rel="stylesheet" href="../element-ui/lib/theme-chalk/index.css">
                <!--Core Javascript -->
                <script>
                    new Chart(document.getElementById("myChart-nav").getContext('2d'), {
                        type: 'doughnut',
                        data: {
                            labels: ["M", "T", "W", "T", "F", "S", "S"],
                            datasets: [{
                                backgroundColor: [
                                    "#2ecc71",
                                    "#3498db",
                                    "#95a5a6",
                                    "#9b59b6",
                                    "#f1c40f",
                                    "#e74c3c",
                                    "#34495e"
                                ],
                                data: [12, 19, 3, 17, 28, 24, 7]
                            }]
                        },
                        options: {
                            legend: {display: false},
                            title: {
                                display: true,
                                text: ''
                            }
                        }
                    });
                </script>
<script>

    new Vue({
        el:"#form",
        data(){
            return{
                switchs:[],
                multipleSelection: [],
                search_: {
                    type: '',
                    content: ''
                },
                selectedIds:[],
                totalCount:100,
                pageSize:5,
                currentPage: 1
            }
        },
        methods: {
            tableRowClassName({row, rowIndex}) { //变色
                if (rowIndex === 1) {
                    return 'warning-row';
                } else if (rowIndex === 3) {
                    return 'success-row';
                }
                return '';
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            onSubmit() {                     //搜索
                //var _this = this;
                console.log(this.search_)
                this.selectALl();
            },
            handleSizeChange(val) {            //分页
                this.pageSize = val;
                this.selectALl();
                //console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.selectALl();
                //.log(`当前页: ${val}`);
            },

            //
            deleteOneMes(id) {
                console.log(id);
                var _this = this;
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/mydemo_war/switch/deleteServlet",
                        data: id
                    }).then(function (resp) {
                        _this.switchs = resp.data;
                        _this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        _this.selectALl();
                    })
                }).catch(() => {
                    _this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            deleteIds() {
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    let selectionElement = this.multipleSelection[i];
                    this.selectedIds[i] = selectionElement.id;
                }
                var _this = this;
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios({
                        method: "post",
                        url: "http://localhost:8080/mydemo_war/switch/deleteIds",
                        data: _this.selectedIds
                    }).then(function (resp) {
                        if (resp.data == "succeed") {
                            _this.$message({
                                type: 'success',
                                message: '删除成功'
                            });
                            _this.selectALl();
                        }
                    })
                }).catch(() => {
                    _this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            selectALl() {
                var maxPageCount = Math.ceil(this.totalCount/this.pageSize)
                if(this.currentPage>maxPageCount){
                    this.currentPage = maxPageCount;
                }
                console.log(this.currentPage);
                console.log(this.pageSize);
                console.log(this.totalCount);
                axios({
                    method: "post",
                    url: "http://localhost:8080/mydemo_war/switch/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data:this.search_
                }).then(resp => {
                    this.switchs = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                    var maxPageCount = Math.ceil(this.totalCount/this.pageSize)
                    if(this.currentPage>maxPageCount){
                        console.log("in");
                        this.currentPage = maxPageCount;
                        this.show();
                    }
                })
            },
            show(){
                axios({
                    method: "post",
                    url: "http://localhost:8080/mydemo_war/number/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data:this.search_
                }).then(resp => {
                    this.lights = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })
            },
            clear() {
                this.search_.content = null;
                this.search_.type = null;
                axios({
                    method: "post",
                    url: "http://localhost:8080/mydemo_war/switch/selectByPageAndCondition?currentPage=" + this.currentPage + "&pageSize=" + this.pageSize,
                    data:this.search_
                }).then(resp => {
                    this.switchs = resp.data.rows;
                    this.totalCount = resp.data.totalCount;
                })
            }
        },

        mounted(){
            var _this = this;
            axios({
                method:"get",
                url:"http://localhost:8080/mydemo_war/switch/selectByPage?currentPage=1&pageSize="+_this.pageSize
            }).then(function(resp){
                _this.switchs = resp.data.rows;
                _this.totalCount = resp.data.totalCount;
            })
        }
    })
</script>

</body>
</html>
